{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block extra_js %}
    <script>
        const URL_STUDENT_LIST = "{% url 'registration:student-list' %}"
    </script>

    <script src="{% static 'registration/js/listagem.js' %}"></script>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    {% include 'includes/_sidebar.html' %}
</div>
{% endblock sidebar %}

{% block page_heading %}
<div class="page-heading">
    <h7 class="page-title page-title-custom">Lista de Alunos</h7>
</div>
{% endblock %}

{% block content %}
<div class="ibox accent-primary">
    <div class="ibox-body">
        <div class="row">
            <div class="col-sm-5 mb-0">
                <a class="btn btn-outline-primary btn-lg" href="{% url 'registration:matricula_create' %}" role="button">Adicionar</a>
            </div>
        </div>
        <div class="tabelaWrapper">
            <table class="table table-bordered table-hover table-sm mb-5" id="idTabela">

                <!--Cabeçalho da tabela-->
                <thead>
                <tr class="container text-center">
                    <th id="IdCheckboxC" class="text-center"> &nbsp
                        <input type="checkbox" id="idActionToggle">
                    </th>
                    <th id="idHeaderCodigo" onclick="sortTable('idHeaderCodigo');">
                        &nbsp Número
{#                        <span id="header-icon"></span>#}
                    </th>
                    <th id="idHeaderAluno" onclick="sortTable('idHeaderAluno');">
                        &nbsp Aluno
{#                        <span id="header-icon"></span>#}
                    </th>
                    <th id="idHeaderCPF" onclick="sortTable('idHeaderCPF');">
                        &nbsp CPF
{#                        <span id="header-icon"></span>#}
                    </th>
                    <th id="idHeaderValor" onclick="sortTable('idHeaderPago');">
                        &nbsp Telefone
{#                        <span id="header-icon"></span>#}
                    </th>
                    <th id="idHeaderPhone" onclick="sortTable('idHeaderPhone');">
                        &nbsp Pago
{#                        <span id="header-icon"></span>#}
                    </th>
{#                    <th id="idHeaderAcoes" class="text-center nao-ordenar">&nbsp Ações</th>#}
                </tr>
                </thead>

                <!--Corpo da tabela da tabela-->
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
