{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% block extra_js %}
    <script>
        const URL_LISTA_STUDENT_AJAX = "{% url 'registration:registration-select2' %}"
        const URL_DADOS_STUDENT_AXIOS = "{% url 'registration:registration-get-dados-student' %}"
        const URL_DADOS_TALK_AXIOS = "{% url 'registration:registration-get-dados-talk' %}"
    </script>

    <script src="{% static 'registration/js/student.js' %}"></script>
    <script src="{% static 'registration/js/talk.js' %}"></script>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    {% include 'includes/_sidebar.html' %}
</div>
{% endblock sidebar %}

{% block page_heading %}
<div class="page-heading">
    <h7 class="page-title page-title-custom">Matrícula de Inscrição</h7>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form class="form" role="form" method="POST" enctype="multipart/form-data">
        <div class="ibox accent-primary">
            <div class="ibox-body">
                {% csrf_token %}
                <div class="row">

                    <div class="col-sm-3 form-group mb-3">
                        <label for="id_student" class="label-text">{{ form.student.label }}</label>
                        <div class="input-group input-group-sm">
                            <select id="id_student" name="student" class="form-control" aria-label="Large select example" style="width: 100%;">
                                <option value="">Selecione algum aluno!</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3 form-group mb-0"></div>

                    <div class="col-sm-2 form-group label-text mb-3">
                        {% bootstrap_field form.cpf|add_class:"mask_cpf" %}
                    </div>

                    <div class="col-sm-2 form-group label-text mb-3">
                        {% bootstrap_field form.phone|add_class:"mask_phone" %}
                    </div>

                </div>

                <div class="row">

                    <div class="ibox-head">
                        <div class="ibox-title"><a>
                            <i class="ibox-collapse-icon ti-angle-down"></i> Palestra </a>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group label-text mb-3">
                        {% bootstrap_field form.talk|add_class:"form_select2" %}
                    </div>

                    <div class="col-sm-1 form-group mb-0"></div>

                    <div class="col-sm-3 form-group label-text mb-3">
                        {% bootstrap_field form.name_speaker %}
                    </div>

                    <div class="col-sm-2 form-group label-text mb-3">
                        {% bootstrap_field form.start_time %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group label-text mb-3">
                        {% bootstrap_field form.observation %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-auto">
                        <button type="submit" class="btn btn-primary btn-lg mt-3">Enviar</button>
                    </div>
                    <div class="col-sm-auto">
                        <a type="button" class="btn btn-secondary btn-lg mt-3 text-white" href="{% url 'registration:matricula_list' %}">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
