{% extends 'base.html' %}

{% block sidebar %}
<div class="sidebar">
    {% include 'includes/sidebar.html' %}
</div>
{% endblock sidebar %}

{% block page_heading %}
<div class="page-heading">
    <h2 class="page-title page-title-custom">Lista de Alunos</h2>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="createss content row padding-bottom-3 desktop-12 container">
        <h2>Teste</h2>
        <p>Botão para criar cadastro de cursos e palestras.</p>

        <h2>Teste 2</h2>
        <p>Tabela de inscritos em cursos e palestras.</p>        
    </div>
</section>
{% endblock content %}
