{% extends 'base.html' %}

{% block sidebar %}
<div class="sidebar">
    {% include 'includes/sidebar.html' %}
</div>
{% endblock sidebar %}

{% block page_heading %}
<div class="page-heading">
    <h7 class="page-title page-title-custom">Lista de Alunos</h7>
</div>
{% endblock %}

{% block content %}
<div class="ibox accent-primary">
    <div class="ibox-body">
        <div class="row">
            <div class="col-sm-5 mb-0">
                <a class="btn btn-outline-primary btn-lg" href="{% url 'core:matricula_create' %}" role="button">Adicionar</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
